.button {
  outline: none;
  border: none;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.video {
  width: 100%;
  height: 100%;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}