.button {
  outline: none;
  border: none;
  width: 200px;
  padding: 12px;
  background-color: #4CAF50;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.button:hover {
  background-color: #059862;
}