.button {
  outline: none;
  border: none;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.video {
  width: 100%;
  height: 100%;
}

.video-container {
  max-width: 1000px;
  border: 1px solid #333;
  aspect-ratio: 16/9;
  position: relative;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
