html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 50px;
  }
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-dir-col {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.pv-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pv-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.video-timeline {
  height: 30px;
  background: #333;
}

.m-auto {
  margin: 0 auto;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.minw-140 {
  min-width: 140px;
}

.minw-80 {
  min-width: 80px;
}

.bold {
  font-weight: bold;
}

.layout {
  display: grid;
  grid-template-columns: 56% 44%;
  grid-gap: 15px;
}

.bg-white {
  background: #fff;
}

.bg-cornsilk {
  background: #fff8dc;
}

.timestamp-container {
  border: 1px solid #333;
  height: 100%;
}

.logo {
  width: 50px;
  height: auto;
}

.inline-block {
  display: inline-block;
}

.gap-15 {
  gap: 15px;
}

.dark {
  color: #fff;
  background: #333;
}

.page {
  min-height: 100vh;
}

.primary {
  background-color: #4CAF50;
}
.primary-hover:hover {
  background-color: #059862;
}

.secondary {
  background-color: #282A35;
}

.secondary-hover:hover {
  background-color: #059862;
}

.disabled {
  background-color: #eee;
  color: #333;
}

.disabled:hover {
  background-color: #eee;
}
