html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 50px;
  }
}

.video-container {
  max-width: 1000px;
  border: 1px solid #333;
  aspect-ratio: 16/9;
}

.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.pv-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.video-timeline {
  height: 30px;
  background: #333;
}

.m-auto {
  margin: 0 auto;
}

.w-90 {
  width: 90%;
}

.layout {
  display: grid;
  grid-template-columns: 56% 44%;
  grid-gap: 15px;
}

.bg-white {
  background: #fff;
}

.bg-cornsilk {
  background: #fff8dc;
}

.timestamp-container {
  border: 1px solid #333;
  height: 100%;
}

.logo {
  width: 50px;
  height: auto;
}

.inline-block {
  display: inline-block;
}

.gap-15 {
  gap: 15px;
}

.dark {
  color: #fff;
  background: #333;
}

.page {
  min-height: 100vh;
}
